body.red .jJbbZq {
    background-color: darkred !important;
}

body.red .brQSiA {
    background-color: red !important;
}

body.orange .jJbbZq {
    background-color: darkorange !important;
}

body.orange .brQSiA {
    background-color: orange !important;
}
